<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZ2VuZXJhdGl2ZS1haS1zd2lmdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6
		W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2dvb2dsZS1n
		ZW1pbmlcL2dlbmVyYXRpdmUtYWktc3dpZnQifV19LCJwcm9kdWN0RmlsdGVy
		IjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6
		IjAuNS42IiwidXBwZXJCb3VuZCI6IjEuMC4wIn1dfX1dfSx7InNvdXJjZUNv
		bnRyb2wiOlt7ImlkZW50aXR5IjoibWFya2Rvd24td2VidmlldyIsImxvY2F0
		aW9uIjp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1
		Yi5jb21cL3RvbWRhaVwvbWFya2Rvd24td2Vidmlldy5naXQifV19LCJwcm9k
		dWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93
		ZXJCb3VuZCI6IjIuMC4xIiwidXBwZXJCb3VuZCI6IjMuMC4wIn1dfX1dfSx7
		InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5Ijoia2V5Y2hhaW4tc3dpZnQi
		LCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmluZyI6Imh0dHBzOlwv
		XC9naXRodWIuY29tXC9ldmdlbnluZXVcL2tleWNoYWluLXN3aWZ0LmdpdCJ9
		XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdl
		IjpbeyJsb3dlckJvdW5kIjoiMjQuMC4wIiwidXBwZXJCb3VuZCI6IjI1LjAu
		MCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6ImNvZGVl
		ZGl0b3IiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmluZyI6Imh0
		dHBzOlwvXC9naXRodWIuY29tXC9aZWVaaWRlXC9Db2RlRWRpdG9yLmdpdCJ9
		XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdl
		IjpbeyJsb3dlckJvdW5kIjoiMS4yLjYiLCJ1cHBlckJvdW5kIjoiMi4wLjAi
		fV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJhc3luY2J1
		dHRvbiIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0
		cHM6XC9cL2dpdGh1Yi5jb21cL3RpbWkyNTA2XC9Bc3luY0J1dHRvbi5naXQi
		fV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5n
		ZSI6W3sibG93ZXJCb3VuZCI6IjEuMC4wIiwidXBwZXJCb3VuZCI6IjIuMC4w
		In1dfX1dfV0sImRpc3BsYXlOYW1lIjoiR2VtaW5pIiwicGFja2FnZUtpbmQi
		Onsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0
		Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTcuMCJ9XSwicHJvZHVjdHMi
		Olt7Im5hbWUiOiJHZW1pbmkiLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRlbnRp
		ZmllciI6WyJjb20udGltaTI1MDYuR2VtaW5pIl19LHsidGVhbUlkZW50aWZp
		ZXIiOlsiUDZQVjJSOTQ0MyJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMy4w
		Il19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3si
		YWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsi
		cmF3VmFsdWUiOiJvcmFuZ2UifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1
		ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkucHJvZHVjdGl2aXR5In0sImFwcElj
		b24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdWYWx1ZSI6ImNsb3Vk
		In19fSwiY2FwYWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxp
		ZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50
		YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9
		fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6
		eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19
		XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxl
		IjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVu
		Y2llcyI6W3sicHJvZHVjdCI6WyJHb29nbGVHZW5lcmF0aXZlQUkiLCJnZW5l
		cmF0aXZlLWFpLXN3aWZ0IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiTWFy
		a2Rvd25XZWJWaWV3IiwibWFya2Rvd24td2VidmlldyIsbnVsbCxudWxsXX0s
		eyJwcm9kdWN0IjpbIktleWNoYWluU3dpZnQiLCJrZXljaGFpbi1zd2lmdCIs
		bnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkNvZGVFZGl0b3IiLCJDb2RlRWRp
		dG9yIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiQXN5bmNCdXR0b24iLCJB
		c3luY0J1dHRvbiIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBj
		b21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9
		fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFy
		Z2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkdvb2dsZUdl
		bmVyYXRpdmVBSSIsImdlbmVyYXRpdmUtYWktc3dpZnQiLG51bGwsbnVsbF19
		LHsicHJvZHVjdCI6WyJNYXJrZG93bldlYlZpZXciLCJtYXJrZG93bi13ZWJ2
		aWV3IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiS2V5Y2hhaW5Td2lmdCIs
		ImtleWNoYWluLXN3aWZ0IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiQ29k
		ZUVkaXRvciIsIkNvZGVFZGl0b3IiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6
		WyJBc3luY0J1dHRvbiIsIkFzeW5jQnV0dG9uIixudWxsLG51bGxdfV0sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6
		dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3si
		a2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xh
		c2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJl
		eGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1Ljku
		MCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		STvf8JtkfuCEfmoKPQX0jIsg5ABM/soCnRQQfQbd3HQ=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
